.container .captionTitle {
  color: #0b0b0b;
}

/* --- Hovering within container gives simultaneous hover on 3 elements --- */
.container:hover .captionTitle,
.container:hover .captionLink {
  color: var(--nav-color);
}

.container:hover .arrowIcon {
  border: 2px solid var(--nav-color);
  color: var(--nav-color);
}

.caption p {
  color: #0b0b0b;
}

.captionLink {
  color: #0b0b0b;
}

.arrowContainer svg {
  color: #0b0b0b;
}

.arrowIcon {
  color: #0b0b0b;
  border: 2px solid #0b0b0b;
}

.arrowIcon:hover {
  border: 2px solid var(--nav-color);
}

.featuredImage {
  background-image: url("../../assets/activity/staticActivityAddon3.jpg");
}

.featuredInner {
  background-color: var(--hover-color);
}
