.featuredImage {
  width: 100%;
  height: 28rem;
  background-image: url("../../assets/discover/staticDiscoverInspiredAddon.jpg");
  background-size: cover;
  background-position: center;
}

.featuredInner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--nav-color);
  padding: 1.2rem;
  color: var(--primary-color);
  position: relative;
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1399px) {
  .featuredImage {
    width: 50%;
    height: auto;
    background-size: cover;
  }

  .featuredInner {
    width: 50%;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1400px) {
  .featuredImage {
    width: 50%;
    height: auto;
    background-size: cover;
  }

  .featuredInner {
    width: 50%;
  }
}
