.featuredImage {
  width: 100%;
  height: 28rem;
  background-image: url("../../assets/staticGalleryAddon.jpg");
  background-size: cover;
  background-position: center;
}

.featuredInner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--gallery-color);
  padding: 1.2rem;
  color: var(--primary-color);
  position: relative;
}

.featuredCircle {
  width: 10rem;
  height: 10rem;
  background-size: cover;
  position: absolute;
  top: -81px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.featuredTitle {
  color: var(--white-text-color);
  z-index: 11;
  position: absolute;
  top: -22px;
  max-width: 18rem;
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1399px) {
  .featuredImage {
    width: 50%;
    height: auto;
    background-size: cover;
  }

  .featuredInner {
    width: 50%;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1400px) {
  .featuredImage {
    width: 50%;
    height: auto;
    background-size: cover;
  }

  .featuredInner {
    width: 50%;
  }
}
