.galleryContainer {
  background-color: var(--hover-color);
}

.galleryTitle,
.carouselTitle a {
  color: #0b0b0b;
}

/* --- Hovering within container gives simultaneous hover on 3 elements --- */
.carouselContainer.hover .hoverContainer h2,
.carouselContainer.hover .hoverContainer .carouselLink,
.carouselContainer.hover .arrowIcon,
.carouselContainer.hover .carouselTitle a {
  color: var(--nav-color);
  border-color: var(--nav-color);
}
/* -------------------------------------------------------------------------- */

.navPrev:hover,
.navNext:hover {
  color: var(--nav-color);
}

.navPrev svg:hover,
.navNext svg:hover {
  color: var(--nav-color);
}

.carouselText h2 {
  color: #0b0b0b;
}

.carouselText p {
  color: #0b0b0b;
}

.carouselLink {
  color: #0b0b0b;
}

.arrowContainer svg {
  color: #0b0b0b;
}

.arrowIcon {
  border: 2px solid #0b0b0b;
  color: #0b0b0b;
}

.dot.active {
  background-color: var(--nav-color);
}
