.headerContainer {
  height: 90vh;
  opacity: 1;
}

.headerTitle {
  font-size: 2.5rem;
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .headerTitle {
    font-size: 4rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .headerTitle {
    font-size: 4.5rem;
  }
}
