*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.separatorFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-color);
  height: 9rem;
}

.separatorFirst h2 {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2.25rem;
  max-width: 80%;
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .separatorFirst {
    height: 10rem;
  }

  .separatorFirst h2 {
    font-size: 2.5rem;
  }
}

/* Tablet - Desktop */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .separatorFirst {
    height: 12rem;
  }

  .separatorFirst h2 {
    font-size: 2.5rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
  .separatorFirst {
    height: 18rem;
  }

  .separatorFirst h2 {
    font-size: 3.5rem;
  }
}
