*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  margin: 4rem 0;
  background-color: var(--background-color);
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.title h3 {
  color: var(--black-text-color);
}

.slideshowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 60rem;
}

.slideshowInner {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 60rem;
  height: 20rem;
  border-radius: 10px;
}

.slideshowInner img {
  width: 100%;
  max-width: 60rem;
  height: 20rem;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white-text-color);
  padding: 3px 6px;
  border-radius: 35px;
  z-index: 10;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  transition: background-color 0.3s ease;
}

.counter span {
  margin: 0 2px;
}

.counterPrev,
.counterNext {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.2s ease;
}

.counterPrev svg,
.counterNext svg {
  font-size: 1.375rem;
  color: var(--white-text-color);
  transition: color 0.3s ease;
}

.counterPrev:hover svg,
.counterNext:hover svg {
  color: var(--hover-color);
}

.counterPrev {
  margin-right: 2px;
}

.counterNext {
  margin-left: 2px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slideWrapper {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.zoomIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6px;
  left: 6px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 1.375rem;
  padding: 3px 3px;
  z-index: 10;
  cursor: pointer;
  color: var(--white-text-color);
}

.zoomIcon svg {
  transition: color 0.3s;
}

.slide {
  width: 100%;
  height: 100%;
}

.captionContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background 0.3s ease-out;
}

.expanded {
  background: rgba(0, 0, 0, 0.5);
}

.collapsed {
  background: none;
}

.caption {
  flex-grow: 1;
  color: var(--white-text-color);
  text-align: left;
  transition: max-height 0.1s ease-in, padding 0.1s ease-in;
  overflow: hidden;
}

.caption p {
  font-size: 0.8rem;
  color: var(--white-text-color);
}

.expanded .caption {
  max-height: 100px;
  padding: 10px;
  padding-bottom: 15px;
}

.collapsed .caption {
  max-height: 0;
  padding: 0;
}

.captionToggle {
  border: none;
  color: var(--white-text-color);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background 0.3s ease-out;
}

.collapsed .captionToggle {
  background: rgba(0, 0, 0, 0.5);
}

.expanded .captionToggle {
  background: transparent;
}

.zoomImgOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.zoomImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding: 2rem 0;
}

.zoomImg {
  max-width: 100%;
  max-height: calc(100vh - 4rem);
  border-radius: 10px;
  object-fit: contain;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 42%;
  right: 6px;
  transform: translateY(-50%);
  color: var(--white-text-color);
  border: none;
  padding: 3px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1001;
}

.close:hover {
  background: rgba(0, 0, 0, 0.6);
}

.closeIcon {
  font-size: 1.75rem;
  cursor: pointer;
  transition: color 0.3s;
}

.zoomBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white-text-color);
  transition: background-color 0.3s;
}

.zoomBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.navIcon {
  font-size: 28px;
  color: var(--white-text-color);
}

.zoomPrev {
  left: 6px;
}

.zoomNext {
  right: 6px;
}

.dotPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(44, 44, 44, 0.5);
  padding: 3px;
  border-radius: 35px;
  z-index: 10;
}

.dot {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--white-text-color);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: var(--hover-color);
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .slideshowContainer {
    height: 25rem;
  }

  .slideshowInner {
    height: 25rem;
  }

  .slideshowInner img {
    height: 25rem;
  }

  .captionContainer {
    margin-bottom: 2.2rem;
  }
}

/* Tablet */
@media only screen and (min-width: 800px) and (max-width: 1029px) {
  .slideshowContainer {
    height: 30rem;
  }

  .slideshowInner {
    height: 30rem;
  }

  .slideshowInner img {
    height: 30rem;
  }

  .counter {
    padding: 4px 6px;
    font-size: 0.75rem;
  }

  .counter span {
    font-size: 0.8rem;
  }

  .counterPrev,
  .counterNext {
    width: 1.3rem;
    height: 1.3rem;
  }

  .counterPrev svg,
  .counterNext svg {
    font-size: 1.8rem;
  }

  .zoomIcon {
    font-size: 1.8rem;
  }

  .captionContainer {
    margin-bottom: 2.2rem;
  }

  .caption p {
    font-size: 0.9rem;
  }

  .captionToggle {
    font-size: 1.4rem;
  }

  .closeIcon {
    font-size: 2rem;
  }

  .navIcon {
    font-size: 2rem;
  }

  .dot {
    width: 0.9rem;
    height: 0.9rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1030px) {
  .slideshowContainer {
    height: 40rem;
  }

  .slideshowInner {
    height: 40rem;
  }

  .slideshowInner img {
    height: 40rem;
  }

  .counter {
    padding: 4px 6px;
    font-size: 0.75rem;
  }

  .counter span {
    font-size: 0.9rem;
  }

  .counterPrev,
  .counterNext {
    width: 1.4rem;
    height: 1.4rem;
  }

  .counterPrev svg,
  .counterNext svg {
    font-size: 1.8rem;
  }

  .zoomIcon {
    font-size: 1.8rem;
  }

  .captionContainer {
    margin-bottom: 2.2rem;
  }

  .caption p {
    font-size: 0.9rem;
  }

  .captionToggle {
    font-size: 1.4rem;
  }

  .zoomImgContainer {
    max-width: 90%;
    max-height: 90%;
  }

  .closeIcon {
    font-size: 2.25rem;
  }

  .navIcon {
    font-size: 2.25rem;
  }

  .dot {
    width: 0.9rem;
    height: 0.9rem;
  }
}
