*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 2rem;
  margin-bottom: 2rem;
}

.container p {
  max-width: 36rem;
  line-height: 2rem;
}

.title {
  margin-top: 2rem;
  font-size: 2.25rem;
}

.boldText {
  margin-top: 4rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.text {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .boldText,
  .text {
    font-size: 1.2rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .title {
    font-size: 2.5rem;
  }

  .boldText,
  .text {
    font-size: 1.3rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1099px) {
  .title {
    font-size: 2.5rem;
  }

  .boldText,
  .text {
    font-size: 1.3rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1100px) {
  .title {
    font-size: 3rem;
  }

  .boldText,
  .text {
    font-size: 1.3rem;
  }
}
