*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--background-color);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.textContainer p {
  max-width: 90%;
}

.mainTitle {
  font-size: 2.25rem;
  margin-top: 2rem;
}

.mainText {
  margin-top: 4rem;
  font-size: 1.1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  width: 100%;
  margin: 2rem 0 6rem 0;
  padding: 1.5rem;
}

.gridItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  padding-top: 80%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.gridItem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.gridItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.gridItem:hover::after {
  opacity: 1;
}

.gridItem:hover img {
  transform: scale(1.1);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-text-color);
  font-size: 2rem;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-align: center;
  width: 90%;
  z-index: 20;
  padding: 0.5rem;
}

.gridItem:hover .title {
  opacity: 1;
}

.gridItem:hover .title {
  opacity: 1;
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .mainTitle {
    font-size: 2.25rem;
  }

  .mainText {
    font-size: 1.2rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .mainTitle {
    font-size: 2.25rem;
  }

  .mainText {
    font-size: 1.3rem;
  }

  .gridContainer {
    max-width: 40rem;
    margin: 6rem auto;
    margin-top: 2rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1399px) {
  .mainTitle {
    font-size: 2.5rem;
  }

  .mainText {
    font-size: 1.3rem;
  }

  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridItem {
    padding-top: 56.25%;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1400px) {
  .textContainer p {
    max-width: 50%;
  }

  .mainTitle {
    font-size: 3.5rem;
  }

  .mainText {
    font-size: 1.3rem;
  }

  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 140rem;
    margin: 6rem auto;
    margin-top: 2rem;
    padding: 6rem 2rem;
  }

  .gridItem {
    padding-top: 56.25%;
  }

  .title {
    font-size: 2.5rem;
  }
}
