*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* Missing page structure */
.MissingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--background-color);
}

/* Image styling */
.MissingImage {
  width: 25rem;
  max-width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

/* Text with position */
.MissingText {
  font-size: 1.1rem;
  padding: 2rem;
}

/* Button styling */
.MissingBtn {
  padding: 0.875rem 1.5rem;
  border-radius: 2.188rem;
  text-decoration: none;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.MissingBtn a:hover {
  color: var(--nav-color);
}

.LinkHome:hover {
  color: var(--white-text-color);
}

/* Small phones */
@media only screen and (max-width: 389px) {
  .MissingImage {
    width: 22rem;
  }

  .MissingText {
    max-width: 21.25rem;
  }

  .MissingBtn {
    padding: 0.75rem 1.375rem;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .MissingImage {
    width: 28rem;
  }

  .MissingText {
    font-size: 1.2rem;
    max-width: 33.75rem;
  }

  .MissingBtn {
    padding: 1rem 1.625rem;
    font-size: 1.2rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .MissingImage {
    width: 31rem;
  }

  .MissingText {
    font-size: 1.3rem;
  }

  .MissingBtn {
    padding: 1.125rem 1.75rem;
    font-size: 1.4rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) {
  .MissingImage {
    width: 40rem;
  }

  .MissingText {
    font-size: 1.3rem;
  }

  .MissingBtn {
    padding: 1.125rem 1.75rem;
    font-size: 1.5rem;
  }
}
