*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 6rem 2rem;
}

.title {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--grey-text-color);
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: var(--black-text-color);
}

/* Desktop */
@media only screen and (min-width: 800px) {
  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 1.3rem;
  }
}
