*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.activityContainer {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}

.activityInner {
  height: 40rem;
  position: relative;
  width: calc(40rem * 3); /* Adjusted width */
}

.activityWrap {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.activitySlideList {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc((5 + 0.5) * 40rem * 2); /* Adjusted width */
}

.activitySlideItem {
  display: inline-block;
  height: 30rem;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 40rem;
}

.activitySlideItemImgLink {
  cursor: pointer;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.activitySlideItemImgLink img {
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  border-radius: 10px;
  width: 100%;
}

.activitySlideItemImgLink::after {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--hover-color);
  content: "Läs mer";
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
}

.activitySlideItemImgLink:hover::after {
  opacity: 1;
}

.activitySlideItemImgLink:hover img {
  transform: scale(1.3);
}

.activitySlideItemBody {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;
}

.activitySlideItemBody h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
  color: var(--black-text-color);
}

.activitySlideItemBody p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
  color: var(--black-text-color);
}

.activityBtn {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  font-size: 5rem;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  height: 100%;
  cursor: pointer;
  padding: 0;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}

.activityBtn:hover {
  color: var(--hover-color);
  background-color: transparent;
}

.activityBtn.activityBtnPrev {
  left: -5rem;
}

.activityBtn.activityBtnNext {
  right: -5rem;
}

.activityDots {
  display: inline-flex;
  left: 50%;
  margin-top: 1rem;
  position: absolute;
  transform: translateX(-50%);
}

.activityDots .dot {
  border: 0;
  background-color: var(--primary-color);
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin: 0 0.3rem;
  outline: none;
  display: inline-block;
  transform: scale(0.5);
}

.activityDots .dotActive {
  background: var(--hover-color);
}
