*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.activityCarousel {
  position: relative;
  width: 100%;
  padding: 6rem 0;
}

.activityContainer {
  cursor: pointer;
}

.activityContainer .captionTitle {
  transition: color 0.3s;
}

/* --- Hovering within container gives simultaneous hover on 3 elements --- */
.activityContainer:hover .captionTitle,
.activityContainer:hover .captionLink {
  color: var(--hover-color);
}

.activityContainer:hover .arrowIcon {
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
}
/* ----------------------------------------------------------------------- */

.activitySlide {
  display: none;
  width: 100%;
  margin-top: 6rem;
}

.activitySlide img {
  width: 100%;
  height: 25rem;
  border-radius: 10px;
  object-fit: cover;
}

.activitySlide.active {
  display: block;
}

.slideCounter {
  position: absolute;
  top: 100px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white-text-color);
  padding: 0.3rem 0.6rem;
  border-radius: 35px;
  font-size: 1rem;
}

.activityCaption {
  width: 80%;
  max-height: 20rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

.activityCaption h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.activityCaption p {
  font-size: 1.1rem;
  color: var(--white-text-color);
  line-height: 2rem;
}

.captionLink {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--white-text-color);
}

.arrowContainer {
  padding-bottom: 4rem;
}

.arrowIcon {
  font-size: 3.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 0.6rem;
  transform: translateY(25px);
  transition: all 0.3s;
}

.arrowIcon:hover {
  border: 2px solid var(--hover-color);
}

.activityNav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 271px;
  width: 100%;
  cursor: pointer;
}

.activityNav span {
  border: none;
  color: var(--primary-color);
  font-size: 2.25rem;
  cursor: pointer;
}

.activityNav span:hover {
  color: var(--hover-color);
}

.navPrev,
.navNext {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.featuredContainer {
  width: 100%;
}

.featuredImage {
  width: 100%;
  height: 28rem;
  background-image: url("../assets/staticActivity.jpg");
  background-size: cover;
  background-position: center;
}

.featuredInner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--nav-color);
  padding: 1.2rem;
  color: var(--primary-color);
  position: relative;
}

.featuredCircle {
  width: 10rem;
  height: 10rem;
  background-size: cover;
  position: absolute;
  top: -81px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.featuredTitle {
  color: var(--white-text-color);
  z-index: 11;
  position: absolute;
  top: -22px;
}
