*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Circle.module.css */

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f1f2f2;
  overflow: hidden;
}

.circleBackground {
  position: relative;
}

.circleBack,
.circleFront {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circleBack {
  z-index: 1;
  left: 140%;
  height: 24em;
  width: 24em;
}

.circleFront {
  z-index: 2;
  width: 24em;
  height: 24em;
  border-radius: 50%;
}

.separatorContainer {
  height: 15vh;
  width: 100%;
  background-color: rgb(108, 108, 255);
}

/* Small phones */
@media only screen and (max-width: 400px) {
  .circleBack,
  .circleFront {
    height: 21em;
    width: 21em;
  }

  .separatorContainer {
    height: 12vh;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .circleBack,
  .circleFront {
    height: 28em;
    width: 28em;
  }
  .separatorContainer {
    height: 17vh;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .circleBack,
  .circleFront {
    height: 32em;
    width: 32em;
  }

  .separatorContainer {
    height: 18vh;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) {
  .circleBack,
  .circleFront {
    height: 33em;
    width: 33em;
  }

  .separatorContainer {
    height: 20vh;
  }
}
