*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.innerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.titleContent {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
  color: #0b0b0b;
}

.undertitleContent {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #bf360c;
}

.paragraphContent {
  font-size: 1.3rem;
  word-spacing: 1px;
  line-height: 2rem;
  color: #0b0b0b;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  height: 30em;
  width: 100%;
  padding: 20px 0;
  background-color: #f1f2f2;
}

.imgBackground {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBackCircle {
  background-image: url("../assets/bg3.png");
  background-position: 200px center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgFrontCircle {
  background-image: url("../assets/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 25em;
  height: 85%;
}
