*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

li {
  padding-top: 10px;
  cursor: pointer;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: auto;
  height: auto;
  background-color: var(--black-text-color);
}

.footerIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  margin: 0;
}

.github,
.react,
.instagram,
.facebook {
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.github:hover,
.react:hover,
.instagram:hover,
.facebook:hover {
  color: var(--background-color);
  background-color: var(--gallery-color);
}

.footerText ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.footerYear {
  margin-bottom: 2rem;
}

.footerYear p {
  font-size: 0.8rem;
}
