*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

li {
  padding-top: 10px;
  cursor: pointer;
}

a,
p {
  transition: color 0.3s;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: auto;
  height: auto;
  background-color: var(--black-text-color);
}

.footerContainer a:hover {
  color: var(--white-text-color);
}

.logoSection {
  margin-top: -2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: auto;
  margin: auto;
}

.iconsText {
  display: none;
}

.footerIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  width: 20rem;
  margin: 0;
}

.iconsText p {
  color: var(--white-text-color);
}

.github,
.twitter,
.instagram,
.facebook {
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.footerIcons a:hover .github,
.footerIcons a:hover .twitter,
.footerIcons a:hover .instagram,
.footerIcons a:hover .facebook,
.footerIcons a:hover .iconsText p,
.iconsText:hover p,
.iconsText:hover ~ .github,
.iconsText:hover ~ .twitter,
.iconsText:hover ~ .instagram,
.iconsText:hover ~ .facebook {
  color: var(--primary-color);
}

.footerIcons a:hover .github,
.footerIcons a:hover .twitter,
.footerIcons a:hover .instagram,
.footerIcons a:hover .facebook,
.github:hover,
.twitter:hover,
.instagram:hover,
.facebook:hover {
  background-color: var(--gallery-color);
}

.footerPolicy ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.footerYear {
  margin-bottom: 2rem;
}

.footerYear p {
  color: var(--white-text-color);
  font-size: 0.8rem;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  a {
    padding: 6px 0;
  }

  .footerInner {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 2rem;
  }

  .logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .logo {
    width: 24rem;
  }

  .iconsText {
    padding-right: 2rem;
    padding-left: 0.5rem;
    display: block;
    transition: color 0.3s;
  }

  .iconsText p:hover {
    color: var(--gallery-color);
  }

  .iconsText p {
    font-size: 1.1rem;
  }

  .footerIcons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 40px;
    padding-right: 5rem;
    margin: 0;
  }

  .footerIcons a {
    display: flex;
    align-items: center;
  }

  .footerPolicy ul {
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-left: 5rem;
    margin-top: 0;
  }

  .footerYear {
    height: auto;
  }
}
