*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  display: block;
}

p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.galleryContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85em;
  background-color: var(--gallery-color);
}

.galleryImageContainer {
  position: relative;
  padding: 2rem;
}

.galleryImageInner {
  position: relative;
  top: 20px;
  left: 48%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 6rem;
}

.galleryImage {
  width: calc(17rem + 20vw);
  height: calc(17rem + 20vw);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 0;
  position: relative;
}

.galleryCircle {
  position: absolute;
  top: -60px;
  left: -14px;
  height: 8rem;
  width: 8em;
  background-image: url("../assets/galleryCircle.png");
  background-size: cover;
  z-index: 1;
}

.galleryTitle {
  position: absolute;
  top: -32px;
  left: 40px;
  line-height: 2rem;
  z-index: 2;
  color: var(--white-text-color);
}

/* Carousel of images */
.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 0.6rem;
}

.carouselInner {
  position: relative;
}

.carouselInner img {
  width: calc(17rem + 20vw);
  height: calc(17rem + 20vw);
  border-radius: 10px;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.prev,
.next {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: -10px;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 50px;
  height: 100%;
  cursor: pointer;
  padding: 0;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}

.next {
  right: 0;
}

.prev {
  right: 45px;
}

.prev:hover,
.next:hover {
  color: var(--hover-color);
}

.carouselText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 366px;
  margin-top: 2rem;
  height: 200px;
}

.hoverContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: color 0.3s;
}

.hoverContainer:hover h2,
.hoverContainer:hover .learnMore {
  color: var(--hover-color);
}

.carouselText h2 {
  text-transform: uppercase;
  color: var(--white-text-color);
  cursor: pointer;
  transition: color 0.3s;
}

.carouselText h2:hover {
  color: var(--hover-color);
}

.carouselText p {
  color: var(--white-text-color);
}

.learnMore {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.learnMore:hover {
  color: var(--hover-color);
}

.dotPagination {
  margin-top: 10px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 2.5rem 0.65rem;
  cursor: pointer;
}

.dot.active {
  background-color: var(--hover-color);
}

/* Small phones */
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  .galleryCircle {
    top: -40px;
    left: -8px;
    height: 7rem;
    width: 7em;
  }

  .galleryImageInner {
    left: 46%;
  }

  .galleryImage {
    width: calc(15rem + 20vw);
    height: calc(15rem + 20vw);
  }

  .carouselContainer {
    margin-left: 0.2rem;
  }

  .carouselInner img {
    width: calc(15rem + 20vw);
    height: calc(15rem + 20vw);
  }

  .carouselText {
    max-width: 326px;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  h2 {
    font-size: 2.25rem;
  }

  .galleryContainer {
    height: 95em;
  }

  .galleryImage {
    width: calc(21rem + 20vw);
    height: calc(21rem + 20vw);
  }

  .carouselInner img {
    width: calc(21rem + 20vw);
    height: calc(21rem + 20vw);
  }

  .prev,
  .next {
    font-size: 60px;
  }

  .prev {
    right: 50px;
  }

  .carouselText {
    max-width: 442px;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  h2 {
    font-size: 2.75rem;
  }

  .galleryContainer {
    height: 110em;
  }

  .galleryTitle {
    top: -40px;
    line-height: 2.5rem;
  }

  .galleryCircle {
    top: -55px;
    left: -22px;
    height: 11rem;
    width: 11em;
  }

  .galleryImageInner {
    left: 47%;
  }

  .galleryImage {
    width: calc(24rem + 26vw);
    height: calc(24rem + 26vw);
  }

  .carouselContainer {
    margin-left: 0.2rem;
  }

  .carouselInner img {
    width: calc(24rem + 26vw);
    height: calc(24rem + 26vw);
  }

  .prev,
  .next {
    font-size: 70px;
  }

  .next {
    right: -5px;
  }

  .prev {
    right: 50px;
  }

  .carouselText {
    max-width: 550px;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1199px) {
  h2 {
    font-size: 2rem;
  }

  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    padding-bottom: 4rem;
  }

  .galleryImageInner {
    top: 0;
    left: 48%;
  }

  .galleryTitle {
    top: -60px;
    line-height: 3.75rem;
    font-size: 4rem;
  }

  .galleryImage {
    margin-right: 1.8rem;
    width: calc(12rem + 20vw);
    height: calc(12rem + 20vw);
  }

  .galleryCircle {
    top: -60px;
    left: -22px;
    height: 50%;
    width: 50%;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -14rem;
    margin-left: -1.8rem;
  }

  .carouselText {
    align-items: center;
    text-align: center;
  }

  .hoverContainer {
    align-items: center;
  }

  .carouselInner {
    position: relative;
    margin-left: -1rem;
  }

  .carouselInner img {
    width: calc(12rem + 20vw);
    height: calc(12rem + 20vw);
  }

  .prev,
  .next {
    font-size: 60px;
    top: -10px;
  }

  .prev {
    right: 50px;
  }

  .next {
    right: 0;
  }
}

/* Medium Desktop */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  h2 {
    font-size: 2rem;
  }

  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    padding-bottom: 1rem;
  }

  .galleryImageInner {
    top: 0;
    left: 13rem;
  }

  .galleryTitle {
    top: -60px;
    line-height: 3.75rem;
    font-size: 4rem;
  }

  .galleryImage {
    width: 33rem;
    height: 33rem;
  }

  .galleryCircle {
    top: -80px;
    left: -50px;
    height: 45%;
    width: 45%;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -20rem;
    margin-left: 0.3rem;
  }

  .carouselInner {
    position: relative;
  }

  .carouselInner img {
    width: 33rem;
    height: 33rem;
  }

  .prev,
  .next {
    font-size: 70px;
    top: -10px;
  }

  .prev {
    right: 50px;
  }

  .next {
    right: -5px;
  }

  .carouselText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 500px;
    margin-top: 2rem;
    margin-left: -1.8rem;
    height: 200px;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1400px) {
  h2 {
    font-size: 2rem;
  }

  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    padding-bottom: 1rem;
  }

  .galleryImageInner {
    top: 0;
    left: 16rem;
  }

  .galleryTitle {
    top: -60px;
    line-height: 3.75rem;
    font-size: 4rem;
  }

  .galleryImage {
    width: 40rem;
    height: 40rem;
  }

  .galleryCircle {
    top: -120px;
    left: -80px;
    height: 45%;
    width: 45%;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -20rem;
    margin-left: -1rem;
  }

  .carouselInner {
    position: relative;
  }

  .carouselInner img {
    width: 40rem;
    height: 40rem;
  }

  .prev,
  .next {
    font-size: 70px;
    top: -10px;
  }

  .prev {
    right: 50px;
  }

  .next {
    right: -5px;
  }

  .carouselText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 600px;
    margin-top: 2rem;
    margin-left: -2.5rem;
    height: 200px;
  }

  .dotPagination {
    margin-top: -20.53rem;
    z-index: 10;
  }
}
