*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5rem;
  color: #fff;
  display: block;
}

p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.galleryContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 80em;
  background-color: #853275;
}

.imageContainer {
  position: relative;
  padding: 2rem;
}

.galleryImageInner {
  position: relative;
  top: 20px;
  left: 48%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 6rem;
}

.galleryImage {
  width: 22rem;
  height: 22rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 0;
  position: relative;
}

.galleryTitle {
  position: absolute;
  top: -40px;
  left: 40px;
  line-height: 2.5rem;
  z-index: 2;
}

.galleryCircle {
  position: absolute;
  top: -60px;
  left: -18px;
  height: 8rem;
  width: 8em;
  background-image: url("../assets/galleryCircle.png");
  background-size: cover;
  z-index: 1;
}

/* Carousel of images */

.carouselContainer {
  position: relative;
  padding: 2rem;
  margin-top: 1rem;
  margin-left: 0.6rem;
}

.carouselInner {
  position: relative;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.carouselInner img {
  width: 22rem;
  height: 22rem;
  border-radius: 10px;
}

.prevBtn,
.nextBtn {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 60px;
  height: 100%;
  width: 50px;
  cursor: pointer;
  padding: 0;
}

.prevBtn:hover,
.nextBtn:hover {
  color: #ff641d;
}

.prevBtn {
  right: 35px;
}

.nextBtn {
  right: -10px;
}

.carouselText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 2rem;
  height: 200px;
}

.carouselText h2 {
  text-transform: uppercase;
}

.dotPagination {
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  margin: 2.5rem 0.65rem;
  cursor: pointer;
}

.dot.active {
  background-color: #bf360c;
}

/* Mini phones */
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  .galleryImageInner {
    left: 46%;
  }

  .galleryImage {
    width: 20rem;
    height: 20rem;
  }

  .carouselContainer {
    margin-left: 0.2rem;
  }

  .carouselInner img {
    width: 20rem;
    height: 20rem;
  }
}
