*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  display: block;
}

p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

.galleryContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  background-color: var(--gallery-color);
}

.galleryImageContainer {
  position: relative;
  padding-bottom: 4rem;
}

.galleryImageInner {
  position: relative;
  top: 20px;
  left: 48%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 6rem;
}

.galleryImage {
  width: calc(17rem + 20vw);
  height: calc(17rem + 20vw);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 0;
  position: relative;
}

.galleryCircle {
  position: absolute;
  top: -60px;
  left: -14px;
  height: 8rem;
  width: 8rem;
  background-size: cover;
  z-index: 1;
}

.galleryTitle {
  position: absolute;
  top: -42px;
  left: 40px;
  line-height: 2.5rem;
  z-index: 2;
  color: var(--white-text-color);
}

/* Carousel of images */
.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 0.6rem;
  padding-bottom: 4rem;
}

/* --- Hovering within container gives simultaneous hover on 3 elements --- */
.carouselContainer.hover .hoverContainer h2,
.carouselContainer.hover .hoverContainer .carouselLink,
.carouselContainer.hover .arrowIcon {
  color: var(--hover-color);
  border-color: var(--hover-color);
}
/* -------------------------------------------------------------------------- */

.carouselInner {
  position: relative;
}

.carouselInner img {
  width: calc(17rem + 20vw);
  height: calc(17rem + 20vw);
  border-radius: 10px;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.navPrev,
.navNext {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: -10px;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 3.125rem;
  height: 100%;
  cursor: pointer;
  padding: 0;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}

.navNext {
  right: 0;
}

.navPrev {
  right: 45px;
}

.navPrev:hover,
.navNext:hover {
  color: var(--hover-color);
}

.carouselText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 23rem;
  margin-top: 2rem;
  height: 12.5rem;
}

.hoverContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: color 0.3s;
}

.carouselText h2 {
  text-transform: uppercase;
  color: var(--white-text-color);
  cursor: pointer;
  transition: color 0.3s;
}

.carouselText p {
  color: var(--white-text-color);
}

.carouselLink {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.arrowContainer {
  padding-bottom: 4rem;
}

.arrowIcon {
  font-size: 3.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 0.6rem;
  transform: translateY(25px);
  transition: all 0.3s;
}

.dotPagination {
  margin-top: 3.5rem;
  padding-bottom: 2rem;
}

.dot {
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 2.5rem 0.65rem;
  cursor: pointer;
}

.dot.active {
  background-color: var(--hover-color);
}

/* Small phones */
@media only screen and (max-width: 389px) {
  .galleryCircle {
    top: -40px;
    left: -8px;
    height: 7rem;
    width: 7em;
  }

  .galleryImageInner {
    left: 46%;
  }

  .galleryImage {
    width: calc(15rem + 20vw);
    height: calc(15rem + 20vw);
  }

  .carouselContainer {
    margin-left: 0.2rem;
  }

  .carouselInner img {
    width: calc(15rem + 20vw);
    height: calc(15rem + 20vw);
  }

  .carouselText {
    max-width: 20.375rem;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  p {
    font-size: 1.2rem;
  }

  .galleryImage {
    width: calc(21rem + 20vw);
    height: calc(21rem + 20vw);
  }

  .carouselInner img {
    width: calc(21rem + 20vw);
    height: calc(21rem + 20vw);
  }

  .navPrev,
  .navNext {
    font-size: 3.75rem;
  }

  .navPrev {
    right: 50px;
  }

  .carouselText {
    max-width: 27.625rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  h2 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.3rem;
  }

  .galleryTitle {
    top: -51px;
    line-height: 3rem;
  }

  .galleryCircle {
    top: -55px;
    left: -22px;
    height: 11rem;
    width: 11em;
  }

  .galleryImageInner {
    left: 47%;
  }

  .galleryImage {
    width: calc(24rem + 26vw);
    height: calc(24rem + 26vw);
  }

  .carouselContainer {
    margin-left: 0.2rem;
  }

  .carouselInner img {
    width: calc(24rem + 26vw);
    height: calc(24rem + 26vw);
  }

  .navPrev,
  .navNext {
    font-size: 4.375rem;
  }

  .navNext {
    right: -5px;
  }

  .navPrev {
    right: 50px;
  }

  .carouselText {
    max-width: 34.375rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1199px) {
  p {
    font-size: 1.3rem;
  }

  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }

  .galleryImageInner {
    top: 0;
    left: 50%;
  }

  .galleryTitle {
    top: -56px;
    line-height: 3.25rem;
    font-size: 3rem;
  }

  .galleryImage {
    margin-right: 1.8rem;
    width: calc(12rem + 20vw);
    height: calc(12rem + 20vw);
  }

  .galleryCircle {
    top: -60px;
    left: -22px;
    height: 50%;
    width: 50%;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 2rem;
  }

  .carouselText {
    align-items: center;
    text-align: center;
  }

  .hoverContainer {
    align-items: center;
  }

  .carouselInner {
    position: relative;
    margin-left: -1rem;
  }

  .carouselInner img {
    width: calc(12rem + 20vw);
    height: calc(12rem + 20vw);
  }

  .navPrev,
  .navNext {
    font-size: 3.75rem;
    top: -10px;
  }

  .navPrev {
    right: 50px;
  }

  .navNext {
    right: 0;
  }
}

/* Medium Desktop */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  p {
    font-size: 1.3rem;
  }

  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }

  .galleryImageInner {
    top: 0;
    left: 15rem;
  }

  .galleryTitle {
    top: -73px;
    line-height: 4.25rem;
    font-size: 4rem;
  }

  .galleryImage {
    width: 33rem;
    height: 33rem;
  }

  .galleryCircle {
    top: -80px;
    left: -50px;
    height: 45%;
    width: 45%;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 2rem;
  }

  .carouselInner {
    position: relative;
  }

  .carouselInner img {
    width: 33rem;
    height: 33rem;
  }

  .navPrev,
  .navNext {
    font-size: 4.375rem;
    top: -10px;
  }

  .navPrev {
    right: 50px;
  }

  .navNext {
    right: -5px;
  }

  .carouselText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 31.25rem;
    margin-top: 2rem;
    margin-left: -1.8rem;
    height: 12.5rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1400px) {
  p {
    font-size: 1.3rem;
  }

  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    padding: 22rem 0;
  }

  .galleryImageInner {
    top: 0;
    left: 19rem;
  }

  .galleryTitle {
    top: -73px;
    line-height: 4.25rem;
    font-size: 4rem;
  }

  .galleryImage {
    width: 40rem;
    height: 40rem;
  }

  .galleryCircle {
    top: -120px;
    left: -80px;
    height: 45%;
    width: 45%;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -20rem;
    margin-left: 2rem;
  }

  .carouselInner {
    position: relative;
  }

  .carouselInner img {
    width: 40rem;
    height: 40rem;
  }

  .navPrev,
  .navNext {
    font-size: 4.375rem;
    top: -10px;
  }

  .navPrev {
    right: 50px;
  }

  .navNext {
    right: -5px;
  }

  .carouselText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 37.5rem;
    margin-top: 2rem;
    margin-left: -2.5rem;
    height: 12.5rem;
  }

  .dotPagination {
    margin-left: 13.6rem;
    margin-top: -24rem;
    z-index: 10;
    width: 40%;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
  }
}
