*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.headerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/header1.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
}

.innerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  line-height: 1;
}

.headerTitle {
  font-size: 3.5rem;
  font-weight: 600;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1.3rem;
  border-radius: 35px;
  text-transform: uppercase;
  width: 22rem;
  color: var(--nav-color);
  background-color: var(--hover-color);
}

.headerBtn:hover {
  color: var(--white-text-color);
  background-color: var(--nav-color);
}

/* Small phones */
@media only screen and (max-width: 389px) {
  .headerBtn {
    width: 18rem;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .headerTitle {
    font-size: 4.5rem;
  }

  .headerBtn {
    width: 24rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .headerTitle {
    font-size: 5rem;
  }

  .headerBtn {
    width: 26rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) {
  .headerTitle {
    font-size: 7rem;
  }

  .headerBtn {
    padding: 1.3rem;
    width: 33rem;
  }
}
