*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/header1.jpg");
  background-size: cover;
  height: 100vh;
}

.innerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  line-height: 1;
}

.headerTitle {
  font-size: 4rem;
  font-weight: 600;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 18px;
  border-radius: 35px;
  width: 18em;
  color: #fff;
  background-color: #bf360c;
}

/* Mini phones */
@media only screen and (max-width: 400px) {
  .headerTitle {
    font-size: 3rem;
  }

  .headerBtn {
    font-size: 1.1rem;
    width: 16em;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .headerTitle {
    font-size: 5rem;
  }

  .headerBtn {
    font-size: 1.3rem;
    width: 20.5em;
  }
}
