*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.headerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/header1.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.innerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  line-height: 1;
}

.headerTitle {
  font-size: 4rem;
  font-weight: 600;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 18px;
  border-radius: 35px;
  width: 22em;
  color: #fff;
  background-color: #bf360c;
}

/* Header half moonshape svg */
.customShapeDividerBottom1714970187 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShapeDividerBottom1714970187 svg {
  position: relative;
  display: block;
  width: calc(270% + 1.3px);
  height: 180px;
}

.customShapeDividerBottom1714970187 .shapeFill {
  fill: #ffffff;
}

/* Small phones */
@media only screen and (max-width: 400px) {
  .headerTitle {
    font-size: 3rem;
  }

  .headerBtn {
    width: 18em;
  }

  .customShapeDividerBottom1714970187 svg {
    height: 170px;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .headerTitle {
    font-size: 4.5rem;
  }

  .headerBtn {
    width: 24em;
  }

  .customShapeDividerBottom1714970187 svg {
    height: 220px;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .headerTitle {
    font-size: 5rem;
  }

  .headerBtn {
    font-size: 1.1rem;
    width: 26em;
  }

  .customShapeDividerBottom1714970187 svg {
    height: 240px;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) {
  .headerContainer {
    height: 115vh;
  }

  .headerTitle {
    font-size: 7rem;
  }

  .headerBtn {
    font-size: 1.3rem;
    padding: 1rem;
    width: 30em;
  }

  .customShapeDividerBottom1714970187 {
    bottom: -100px;
  }

  .customShapeDividerBottom1714970187 svg {
    height: 300px;
  }
}
