/* Missing page structure with bg */
.MissingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-image: url("../assets/404.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-x: center;
  background-position-y: 180px;
}

/* Text with position */
.MissingText {
  font-size: 1.2rem;
  margin-top: 22rem;
}

/* Button styling */
.MissingBtn {
  padding: 14px 24px;
  background-color: rgba(191, 54, 12, 0.8);
  color: #fff;
  border-radius: 35px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.MissingBtn:hover {
  background-color: #ff641d;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .MissingContainer {
    background-size: 50em;
    background-position-y: 0;
  }

  .MissingText {
    font-size: 1.2rem;
    margin-top: 30rem;
  }
}
