/* Missing page structure with bg */
.MissingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-image: url("../assets/404.png");
  background-repeat: no-repeat;
  background-size: 25rem;
  background-position-x: center;
  background-position-y: 11.25rem;
}

/* Text with position */
.MissingText {
  font-size: 1.2rem;
  margin-top: 22rem;
}

/* Button styling */
.MissingBtn {
  padding: 14px 24px;
  background-color: rgba(191, 54, 12, 0.8);
  color: #fff;
  border-radius: 35px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.MissingBtn:hover {
  background-color: #ff641d;
}

/* Small phones */
@media only screen and (max-width: 400px) {
  .MissingContainer {
    background-size: 22rem;
  }

  .MissingText {
    font-size: 1.1rem;
    max-width: 340px;
  }

  .MissingBtn {
    padding: 12px 22px;
    font-size: 1.1rem;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .MissingContainer {
    background-size: 28rem;
  }

  .MissingText {
    margin-top: 30rem;
    font-size: 1.3rem;
    max-width: 540px;
  }

  .MissingBtn {
    padding: 16px 26px;
    font-size: 1.3rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .MissingContainer {
    background-size: 31rem;
  }

  .MissingText {
    margin-top: 36rem;
    font-size: 1.3rem;
  }

  .MissingBtn {
    padding: 18px 28px;
    font-size: 1.4rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) {
  .MissingContainer {
    background-size: 40em;
    background-position-y: 0;
  }

  .MissingText {
    font-size: 1.3rem;
    margin-top: 30rem;
  }

  .MissingBtn {
    padding: 18px 28px;
    font-size: 1.5rem;
  }
}
