*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

li {
  list-style: none;
}

/* Main nav */
.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 6.5em;
  position: fixed;
  top: 0;
  z-index: 98;
  background-color: #bf360c;
  transition: transform 0.2s ease-in-out;
}

/* Transparent nav */
.transparent {
  background-color: transparent;
}

/* Hide nav on scroll */
.hideNav {
  transform: translateY(-100%);
}

/* Items in the nav */
.navItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

/* Text links in nav */
.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 100px;
  position: absolute;
  left: -80px;
  top: -25px;
}

/* Nav icons */
.navList li svg {
  font-size: 34px;
  cursor: pointer;
  transition: color 0.3s;
}

/* Targeting list specifically */
.navList li {
  display: flex;
  align-items: center;
  margin: 0 15px;
  font-size: 36px;
}

.navList li a {
  color: #fff;
  transition: color 0.3s;
  font-weight: 300;
}

.navList li:hover a,
.navList li:hover svg {
  color: #ff641d;
}

.navLink {
  display: none;
}

.navIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 34px;
  cursor: pointer;
}

.searchIcon {
  font-size: 28px;
}

.menuIcon {
  font-size: 40px;
}

.searchIcon,
.menuIcon {
  transition: color 0.3s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

/* ------------- Burger menu ------------- */
@keyframes slideOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Blurs the background when wrapper menu is open */
.blurBackground {
  backdrop-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  cursor: pointer;
}

.menuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191, 54, 12, 0.9);
  z-index: 100;
  animation: slideOut 0.3s forwards;
}

.menuWrapper.menuClosing {
  animation: slideIn 0.3s forwards;
}

.openMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.openMenu li {
  margin-bottom: 20px;
}

.openMenu li a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  transition: color 0.3s;
}

.openMenu li a:hover,
.searchIcon:hover,
.menuIcon:hover {
  color: rgb(255, 100, 29);
}

.closeIcon:hover {
  color: rgb(255, 100, 29);
  border-color: rgb(255, 100, 29);
}

.closeIcon {
  position: absolute;
  top: 31px;
  right: 45px;
  width: 40px;
  height: 40px;
  border: 2.8px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.close {
  font-size: 30px;
  transition: color 0.3s;
}

/* Hides nav items when this menu is open */
.menuOpen .navList,
.menuOpen .navIcons {
  display: none;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  /* Main nav */
  .navContainer {
    height: 9.5em;
  }

  .navItems {
    margin-right: 2.2rem;
  }

  .navList {
    margin-top: -1.2rem;
  }

  .navList li {
    margin: 20px;
  }

  /* Nav icons */
  .navList li svg {
    font-size: 40px;
  }

  .logo {
    width: 150px;
    height: auto;
    margin-top: 1.7rem;
    margin-right: 8.75em;
  }

  .navLink {
    display: flex;
  }

  .navIcons {
    font-size: 40px;
  }

  .closeIcon {
    top: 55px;
    right: 55px;
  }

  .menuWrapper {
    width: 50%;
  }
}
