*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

li {
  list-style: none;
}

/* Main nav */
.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  background-color: rgba(255, 193, 165, 0.6);
}

/* Items in the nav */
.navItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* Text links in nav */
.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Nav icons */
.navList li svg {
  font-size: 34px;
  cursor: pointer;
  transition: color 0.3s;
}

/* Targeting list specifically */
.navList li {
  display: flex;
  align-items: center;
  margin: 0 15px;
  font-size: 36px;
}

.navList li a {
  color: #fff;
  transition: color 0.3s;
  font-weight: 300;
}

.navList li:hover a,
.navList li:hover svg {
  color: rgb(255, 100, 29);
}

.navLink {
  display: none;
}

.navIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 34px;
  cursor: pointer;
}

.searchIcon,
.menuIcon {
  transition: color 0.3s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

/* ------------- Burger menu ------------- */
.menuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191, 54, 12, 0.8);
  z-index: 100;
}

.openMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.openMenu li {
  margin-bottom: 20px;
}

.openMenu li a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

.openMenu li a:hover,
.closeIcon:hover,
.searchIcon:hover,
.menuIcon:hover {
  color: rgb(255, 100, 29);
}

.closeIcon {
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 50px;
  cursor: pointer;
}

/* Hides nav items when this menu is open */
.menuOpen .navList,
.menuOpen .navIcons {
  display: none;
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  /* Main nav */
  .navContainer {
    height: 10vh;
  }

  .navList li {
    margin: 0 20px;
  }

  /* Nav icons */
  .navList li svg {
    font-size: 40px;
  }

  .navLink {
    display: flex;
  }

  .navIcons {
    font-size: 40px;
  }

  .closeIcon {
    top: 33px;
    right: 15px;
  }
}

/* Tablet size */
@media only screen and (min-width: 901px) and (max-width: 1199px) {
}

/* Smaller tablet size */
@media only screen and (min-width: 801px) and (max-width: 900px) {
}
