*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Scroll to top button */
.scrollTop {
  position: fixed;
  bottom: 35px;
  right: 15px;
  background-color: var(--accent-color);
  border: 1px solid var(--primary-color);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 400;
  transition: background-color 0.3s;
}

.scrollTop:hover {
  background-color: var(--nav-color);
}

.scrollIcon {
  color: var(--primary-color);
  font-size: 40px;
}

.scrollIcon:hover {
  color: var(--primary-color);
}

/* Button invisible at top */
.invisible {
  display: none;
}
