*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

span {
  margin: 0 4px;
}

.separatorContainer {
  height: 84vh;
}

.separatorFirst {
  background-color: var(--accent-color);
  height: 12vh;
}

.separatorContent,
.separatorSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.separatorContent {
  height: 36vh;
  padding: 2rem 0;
  background-color: var(--primary-color);
}

.separatorText,
.separatorSecondText {
  max-width: 90%;
  padding: 1rem;
  font-size: 1.3rem;
  word-break: break-word;
  overflow-wrap: break-word;
}

.link,
.hashtag {
  font-size: 1.3rem;
  color: var(--accent-color);
  transition: color 0.3s;
}

.link:hover,
.hashtag:hover {
  color: var(--nav-color);
}

.hashtag {
  font-size: 1.5rem;
}

.separatorSecond {
  background-color: var(--accent-color);
  height: 36vh;
  padding: 2rem;
}

.separatorSecondTitle {
  font-size: 2.5rem;
  color: var(--white-text-color);
}

.separatorSecondText {
  color: var(--white-text-color);
  font-size: 1.3rem;
}

/* Small phones */
@media only screen and (max-width: 400px) {
  .separatorContainer {
    height: 100vh;
  }

  .separatorFirst {
    height: 16vh;
  }

  .separatorContent {
    height: 42vh;
  }

  .separatorText {
    font-size: 1.1rem;
  }

  .link {
    font-size: 1.1rem;
  }

  .hashtag {
    font-size: 1.3rem;
  }

  .separatorSecond {
    height: 42vh;
  }

  .separatorSecondTitle {
    font-size: 2.25rem;
  }

  .separatorSecondText {
    font-size: 1.1rem;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .separatorContainer {
    height: 88vh;
  }

  .separatorFirst {
    height: 14vh;
  }

  .separatorContent {
    height: 44vh;
  }

  .separatorSecondTitle {
    font-size: 2.75rem;
  }

  .separatorSecond {
    height: 30vh;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .separatorContainer {
    height: 88vh;
  }

  .separatorFirst {
    height: 17vh;
  }

  .separatorContent {
    height: 43vh;
  }

  .separatorSecond {
    height: 28vh;
  }

  .separatorSecondTitle {
    font-size: 3rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1199px) {
  .separatorContainer {
    height: 78vh;
  }

  .separatorFirst {
    height: 14vh;
  }

  .separatorContent {
    height: 34vh;
  }

  .separatorText {
    width: 95%;
  }

  .separatorSecond {
    height: 30vh;
  }

  .separatorSecondTitle {
    font-size: 3rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
  .separatorContainer {
    height: 82vh;
  }

  .separatorFirst {
    height: 14vh;
  }

  .separatorContent {
    height: 34vh;
  }

  .separatorText {
    max-width: 95%;
  }

  .separatorSecond {
    height: 34vh;
  }

  .separatorSecondTitle {
    font-size: 3.5rem;
  }
}
