*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

span {
  margin: 0 4px;
}

.separatorContainer {
  height: 70vh;
}

.separatorFirst {
  background-color: var(--accent-color);
  height: 5.5em;
}

.separatorContent,
.separatorSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.separatorContent {
  height: 27rem;
  padding: 2rem 0;
  background-color: var(--primary-color);
}

.separatorText,
.separatorSecondText {
  max-width: 80%;
  font-size: 1.3rem;
}

.link,
.hashtag {
  font-size: 1.3rem;
  color: var(--accent-color);
  transition: color 0.3s;
}

.link:hover,
.hashtag:hover {
  color: var(--nav-color);
}

.hashtag {
  font-size: 1.5rem;
}

.separatorSecond {
  background-color: var(--accent-color);
  height: 30vh;
  padding-bottom: 5rem;
}

.separatorSecondTitle {
  font-size: 2.5rem;
  color: var(--white-text-color);
}

.separatorSecondText {
  color: var(--white-text-color);
  font-size: 1.3rem;
  padding-bottom: 2.5rem;
}

/* Small phones */
@media only screen and (max-width: 400px) {
  .separatorContainer {
    height: 68vh;
  }

  .separatorFirst {
    height: 5em;
  }

  .separatorContent {
    height: 24rem;
  }

  .separatorSecond {
    height: 28vh;
  }

  .separatorText {
    font-size: 1.1rem;
  }

  .link {
    font-size: 1.1rem;
  }

  .hashtag {
    font-size: 1.3rem;
  }

  .separatorSecondTitle {
    margin-top: 4rem;
    font-size: 2.25rem;
  }

  .separatorSecondText {
    font-size: 1.1rem;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .separatorContainer {
    height: 73vh;
  }

  .separatorFirst {
    height: 8em;
  }

  .separatorContent {
    height: 26rem;
  }

  .separatorSecondTitle {
    font-size: 2.75rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .separatorContainer {
    height: 66vh;
  }

  .separatorFirst {
    height: 7em;
  }

  .separatorContent {
    height: 20rem;
  }

  .separatorSecond {
    height: 31vh;
  }

  .separatorSecondTitle {
    font-size: 3rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1199px) {
  .separatorContainer {
    height: 64vh;
  }

  .separatorFirst {
    height: 7em;
  }

  .separatorContent {
    height: 20rem;
  }

  .separatorSecond {
    height: 29vh;
  }

  .separatorSecondTitle {
    font-size: 3rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
  .separatorContainer {
    height: 70vh;
  }

  .separatorFirst {
    height: 16em;
  }

  .separatorContent {
    height: 20rem;
  }

  .separatorSecond {
    height: 26vh;
  }

  .separatorSecondTitle {
    font-size: 3.5rem;
  }
}
