*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.mainContainer {
  text-align: center;
  height: 120vh;
  background-color: var(--primary-color);
}

.shareContainer {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.shareHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.shareTitle {
  font-size: 2.25rem;
  font-weight: bold;
  padding: 3rem 0;
  color: var(--black-text-color);
}

.shareDot {
  font-size: 20px;
  color: var(--black-text-color);
}

.shareImageContainer {
  display: grid;
  place-items: center;
  z-index: 1;
  width: 100%;
}

.shareImage {
  width: 90%;
  height: 25rem;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  border-radius: 10px;
}

.shareAdressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.shareAdress {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 10px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(135deg, #b6469f, #4da7f5);
  width: 90%;
}

.shareAdress p {
  font-size: 1.25rem;
  color: var(--black-text-color);
}

.shareAdressText p {
  text-align: center;
  margin: -0.4rem 0;
}

.shareCoordinates {
  border: 1.5px solid var(--black-text-color);
  border-radius: 35px;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in-out;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}

.shareCoordinates:hover {
  color: var(--white-text-color);
  background-image: linear-gradient(135deg, #e94417, #ffcd2a);
  border: 1.5px solid var(--white-text-color);
}

/* Small phones */
@media only screen and (max-width: 389px) {
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 769px) {
}

/* Tablet */
@media only screen and (min-width: 780px) and (max-width: 1033px) {
}

/* Desktop */
@media only screen and (min-width: 1034px) {
  .mainContainer {
    text-align: center;
    height: 120vh;
  }

  .shareContainer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .shareHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .shareTitle {
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem 0;
  }

  .shareDot {
    font-size: 20px;
  }

  .shareImageContainer {
    display: grid;
    place-items: center;
    z-index: 1;
    width: 100%;
  }

  .shareImage {
    width: 90%;
    height: 25rem;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .shareAdressContainer {
    width: 80%;
  }

  .shareAdress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
    width: 70%;
  }

  .shareAdress p {
    font-size: 1.25rem;
  }

  .shareAdressText {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 2rem;
    border: 1px solid red;
  }

  .shareAdressText p {
    text-align: center;
    margin: -0.4rem 0;
  }

  .adress {
    max-width: 200px;
    margin: 0 2rem;
  }

  .shareCoordinates {
    padding: 0.5rem 1rem;
    margin-left: 10rem;
    border: 1px solid red;
  }
}
