*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.container {
  text-align: center;
  height: 60vh;
  background-color: var(--primary-color);
}

.story {
  margin: 0;
}

.storyHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.circle {
  font-size: 24px;
  margin-right: 10px;
  color: var(--black-text-color);
}

.storyText {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  padding: 2rem 0;
  color: var(--black-text-color);
}

.storyHashtag {
  font-size: 18px;
  margin-top: 0.4rem;
  margin-left: -0.6rem;
  color: var(--black-text-color);
}

.adress p {
  font-size: 2rem;
  color: var(--black-text-color);
  padding: 0 2rem;
}
