*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.spotlightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
}

.spotlightTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlightTitle h2 {
  margin-top: 4.2rem;
  margin-bottom: 6.2rem;
  font-size: 2.5rem;
  color: #0b0b0b;
  padding: 20px 0;
}

.spotlightCardContainer {
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.spotlightCardContainer h3 {
  text-transform: uppercase;
}

.spotlightCard {
  margin: 40px 0;
  height: 25rem;
  z-index: 1;
}

.lastSpotlightCard {
  margin-bottom: 0;
}

.slideInUp {
  opacity: 1;
  transform: translateY(-68px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slideInUp.slideIn {
  opacity: 0;
  transform: translateY(0);
}

.cardImage {
  height: 100%;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

.cardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  color: white;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.cardOverlay h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

/* Mini phones */
@media only screen and (max-width: 400px) {
  .spotlightTitle h2 {
    font-size: 2rem;
  }

  .cardOverlay h3 {
    font-size: 1.3rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .spotlightTitle h2 {
    font-size: 3rem;
  }

  .cardOverlay h3 {
    font-size: 1.7rem;
  }
}
