*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.spotlightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--primary-color);
}

.spotlightTitle,
.spotlightSecondTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlightTitle h2,
.spotlightSecondTitle h2 {
  margin-top: 4.2rem;
  margin-bottom: 0;
  font-size: 2.5rem;
  padding: 20px 0;
}

.spotlightSecondTitle h2 {
  margin-top: 2rem;
}

.spotlightCardContainer {
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.spotlightCardContainer h3 {
  text-transform: uppercase;
}

.spotlightCard {
  margin: 40px 0;
  height: 25rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.lastSpotlightCard {
  margin-bottom: 6rem;
}

.fadeInSlideIn {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeInSlideIn 1s forwards;
}

@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardImage {
  height: 25rem;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

.cardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  color: var(--primary-color);
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.cardOverlay h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Small phones */
@media only screen and (max-width: 400px) {
  .spotlightTitle h2 {
    font-size: 2.25rem;
  }

  .cardOverlay h3 {
    font-size: 1.3rem;
  }
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .spotlightTitle h2 {
    font-size: 2.75rem;
  }

  .cardOverlay h3 {
    font-size: 1.3rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .spotlightTitle h2 {
    font-size: 3rem;
  }

  .cardOverlay h3 {
    font-size: 1.5rem;
  }
}

/* Small Desktop */
@media only screen and (min-width: 770px) and (max-width: 849px) {
  .spotlightCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
  }

  .spotlightCardContainer .spotlightCard {
    width: calc(50% - 20px);
  }

  .spotlightTitle h2,
  .spotlightSecondTitle h2 {
    font-size: 3rem;
  }

  .cardOverlay h3 {
    font-size: 1.5rem;
  }

  .spotlightSecondTitle {
    grid-column: span 2;
    text-align: center;
    margin-top: -4rem;
    margin-bottom: -4rem;
  }

  .cardImage {
    height: 26rem;
    width: 21rem;
  }

  .thirdSpotlightCard,
  .seventhSpotlightCard {
    margin-top: 3.3rem;
  }

  .fourthSpotlightCard {
    margin-top: -30rem;
  }

  .lastSpotlightCard {
    margin-top: -30rem;
    margin-bottom: 8rem;
  }
}

/* Medium Desktop */
@media only screen and (min-width: 850px) and (max-width: 999px) {
  .spotlightCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
  }

  .spotlightCardContainer .spotlightCard {
    width: calc(50% - 20px);
  }

  .spotlightTitle h2,
  .spotlightSecondTitle h2 {
    font-size: 3rem;
  }

  .spotlightSecondTitle {
    grid-column: span 2;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .cardOverlay h3 {
    font-size: 1.7rem;
  }

  .cardImage {
    height: 28rem;
    width: 24rem;
  }

  .thirdSpotlightCard,
  .seventhSpotlightCard {
    margin-top: 5.6rem;
  }

  .fourthSpotlightCard {
    margin-top: -30rem;
  }

  .lastSpotlightCard {
    margin-top: -30rem;
    margin-bottom: 10rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .spotlightCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
  }

  .spotlightCardContainer .spotlightCard {
    width: calc(50% - 20px);
  }

  .spotlightTitle h2,
  .spotlightSecondTitle h2 {
    font-size: 3rem;
  }

  .spotlightSecondTitle {
    grid-column: span 2;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -2rem;
  }

  .cardOverlay h3 {
    font-size: 1.7rem;
  }

  .cardImage {
    height: 32rem;
    width: 29rem;
  }

  .thirdSpotlightCard,
  .seventhSpotlightCard {
    margin-top: 9.5rem;
  }

  .fourthSpotlightCard {
    margin-top: -30rem;
  }

  .lastSpotlightCard {
    margin-top: -30rem;
    margin-bottom: 14rem;
  }
}

/* Full Desktop */
@media only screen and (min-width: 1200px) {
  .spotlightCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 35px;
    margin-bottom: 6rem;
  }

  .spotlightTitle h2,
  .spotlightSecondTitle h2 {
    font-size: 3.5rem;
  }

  .stackedImagesContainer {
    grid-column: 2 / 3;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .spotlightCard {
    margin: 0;
  }
  .spotlightTitle {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .spotlightSecondTitle {
    grid-column: span 3;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .cardOverlay h3 {
    font-size: 1.7rem;
  }

  .cardImage {
    height: 44rem;
    width: calc(6rem + 20vw);
  }

  .stackedImagesContainer .cardImage {
    height: 21rem;
  }

  .stackedImagesContainer .spotlightCard {
    margin-bottom: -3.2rem;
  }
}
