*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.cookiesContainer {
  display: none; /* REMOVE TO ENABLE */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.cookiesContainer p {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 1.1rem;
  color: var(--black-text-color);
}

.cookiesContainer button {
  color: var(--white-text-color);
  border-radius: 20px;
  border: none;
  padding: 0.65rem 1.25rem;
  margin-left: 0.65rem;
  cursor: pointer;
  font-size: 1rem;
}

.accept {
  background-color: #4eb646;
}

.accept:hover {
  background-color: #5cda53;
}

.deny:hover {
  background-color: #db55c0;
}
