*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h4,
h5 {
  font-weight: 500;
}

/* Main nav */
.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 6.5rem;
  position: fixed;
  top: 0;
  z-index: 98;
  background-color: var(--nav-color);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/* Transparent nav */
.transparent {
  background-color: transparent;
  box-shadow: none;
}

/* Hide nav on scroll */
.hideNav {
  transform: translateY(-100%);
}

/* Items in the nav */
.navItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

/* Text links in nav */
.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.logoContainer {
  display: flex;
  border-radius: 0 0 10px 10px;
  height: 6.25rem;
  width: 11.25rem;
  position: absolute;
  left: 36px;
  top: 0;
  background-color: var(--nav-transparent);
}

.transparent .logoContainer:hover {
  background-color: var(--accent-transparent);
}

.logo {
  width: 8.75rem;
  height: auto;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

/* Nav icons */
.navList li svg {
  font-size: 1.7rem;
  cursor: pointer;
  transition: color 0.3s;
}

/* Targeting list specifically */
.navList li {
  display: flex;
  align-items: center;
  margin: 0 0.9375rem;
  font-size: 2.25rem;
}

.navList li a {
  transition: color 0.3s;
  font-weight: 500;
}

.navLink {
  display: none;
}

.navIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.875rem;
  font-size: 2.125rem;
  cursor: pointer;
}

.searchIcon {
  font-size: 2.3rem;
}

.menuIcon {
  font-size: 2.6rem;
}

.searchIcon,
.menuIcon {
  color: var(--white-text-color);
  transition: color 0.3s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.875rem;
}

.menuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: var(--nav-transparent);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  animation: slideOut 0.3s forwards;
}

.menuWrapper.menuClosing {
  animation: slideIn 0.3s forwards;
}

/* ------------- Burger menu ------------- */
@keyframes slideOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Blurs the background when wrapper menu is open */
.blurBackground {
  backdrop-filter: blur(10px);
  filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  cursor: pointer;
}

.socialIcons {
  position: absolute;
  top: 31px;
  left: 37px;
  display: flex;
  justify-content: space-around;
}

.socialIcons svg {
  color: var(--white-text-color);
}

.github,
.twitterX,
.instagram,
.facebook,
.tiktok {
  cursor: pointer;
  background-color: var(--accent-color);
  font-size: 2.4rem;
  border-radius: 50%;
  padding: 0.375rem;
  margin: 0 0.25rem;
  transition: all 0.2s ease;
}

.github:hover,
.twitterX:hover,
.instagram:hover,
.facebook:hover,
.tiktok:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
}

.openMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 78%;
  width: 100%;
  position: absolute;
  bottom: 4.5rem;
  transition: transform 0.2s ease-in-out;
  overflow-y: scroll;
}

.openMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 18rem;
  max-width: 25rem;
  padding-bottom: 2rem;
}

.openMenu h4 {
  color: var(--white-text-color);
  transition: color 0.3s;
}

.openMenu h4:hover {
  color: var(--hover-color);
}

.openMenu li {
  margin-bottom: 1.25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.openMenu li a {
  text-decoration: none;
  font-size: 2rem;
  display: block;
  text-align: left;
}

.openMenu li > a {
  width: 100%;
}

.closeIcon {
  color: var(--white-text-color);
}

.closeCircle {
  position: absolute;
  top: 31px;
  right: 45px;
  width: 2.5rem;
  height: 2.5rem;
  border: 2.8px solid var(--white-text-color);
  border-radius: 50%;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.closeIcon {
  font-size: 1.8rem;
  transition: color 0.3s;
}

.closeCircle:hover {
  border-color: var(--hover-color);
}

.closeCircle:hover .closeIcon {
  color: var(--hover-color);
}

/* Hides nav items when this menu is open */
.menuOpen .navList,
.menuOpen .navIcons {
  display: none;
}

.logoNav {
  display: none;
}

.dropdownToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.discoverDropdownIcon,
.activityDropdownIcon,
.galleryDropdownIcon {
  position: static;
  font-size: 1.25rem;
  color: var(--white-text-color);
  margin-left: 1rem;
  transition: transform 0.2s ease-in-out, color 0.3s;
}

.discoverDropdownIcon.open,
.activityDropdownIcon.open,
.galleryDropdownIcon.open {
  transform: rotate(180deg);
}

.nestedMenu ul {
  padding: 0;
}

.nestedMenu li {
  margin: 0.25rem 0;
}

.nestedMainContainer {
  margin: -1rem 0;
}

.nestedMainContainer h5 {
  font-size: 1.25rem;
}

.nestedMainTitle {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 0;
  padding: 0.25rem;
  transition: border 0.3s;
}

.nestedMainTitle:hover {
  border: 2px solid var(--hover-color);
}

.nestedItems {
  width: 14rem;
  overflow: auto;
  max-height: 60vh;
  padding: 0.5rem;
  line-height: 1.3rem;
  -webkit-overflow-scrolling: touch;
}

.nestedItems h5 {
  font-size: 1.1rem;
}

/* Always show scrollbar for better UX */
.nestedItems::-webkit-scrollbar,
.openMenuContainer::-webkit-scrollbar {
  width: 4px;
}

.nestedItems::-webkit-scrollbar-thumb,
.openMenuContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Small phones */
@media only screen and (max-width: 389px) {
  .openMenu h4 {
    font-size: 1.6rem;
  }

  .navIcons {
    margin: 0 -4px;
  }

  .logoContainer {
    height: 6.25rem;
    width: 10rem;
    left: 18px;
  }

  .logoNav {
    display: none;
  }

  .discoverDropdownIcon,
  .activityDropdownIcon,
  .galleryDropdownIcon {
    right: -2rem;
  }

  .openMenuContainer {
    bottom: 5rem;
  }
}

/* Tablet */
@media only screen and (min-width: 549px) and (max-width: 1434px) {
  h4 {
    font-size: 2.25rem;
  }

  .openMenuContainer {
    bottom: 4.58rem;
  }

  .logoNavContainer {
    display: inline;
  }

  .logoNavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    margin: 0 auto;
    margin-bottom: -2rem;
  }

  .logoNav {
    width: 14rem;
    height: auto;
    margin: auto;
    display: block;
  }

  .discoverDropdownIcon,
  .activityDropdownIcon,
  .galleryDropdownIcon {
    right: -7rem;
    font-size: 1.5rem;
  }

  .nestedMainContainer h5 {
    font-size: 1.5rem;
  }

  .nestedItems {
    width: 18rem;
    line-height: 1.3rem;
  }

  .nestedItems h5 {
    font-size: 1.3rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1435px) {
  h4 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* Main nav */
  .navContainer {
    height: 10rem;
  }

  .navItems {
    margin-right: 2.2rem;
  }

  .navList {
    margin-top: -1.2rem;
  }

  .navList li {
    margin: 20px;
  }

  /* Nav icons */
  .navList li {
    margin: 1.25rem;
  }

  .navList li svg {
    font-size: 2.5rem;
  }

  .navIcons {
    font-size: 2.5rem;
    margin: 0 1.25rem;
  }

  .logoContainer {
    height: 10rem;
    width: 14.375rem;
    left: 2.875rem;
  }

  .logo {
    width: 14.375rem;
  }

  .navLink {
    display: inline;
  }

  /* Dropdown menu container */
  .dropdownMenu {
    position: absolute;
    top: 62%;
    display: none;
    z-index: 999;
    background-color: var(--nav-transparent);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem 0;
  }

  .dropdownMenu h5 {
    font-weight: 400;
  }

  .navLink:hover .dropdownMenu {
    display: block;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .dropdownMenu li {
    padding: 0.5rem 1rem;
    margin: -0.2rem 1rem;
  }

  .dropdownMenu ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
  }

  .dropdownMenuAll {
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 0.5rem;
    margin: -1rem -0.6rem;
    transition: border 0.3s;
  }

  .dropdownMenuAllContainer h5 {
    font-weight: 700;
  }

  .dropdownMenuAll:hover {
    border: 2px solid var(--hover-color);
  }

  .dropdownMenuItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .closeIcon {
    top: 3.4375rem;
    right: 3.4375rem;
  }

  .menuWrapper {
    width: 50%;
  }

  .socialIcons {
    top: 26px;
    left: 45px;
  }

  .logoNavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    margin: 0 auto;
    margin-bottom: -2rem;
  }

  .logoNav {
    width: 14rem;
    height: auto;
    margin: auto;
    display: block;
  }

  .discoverDropdownIcon,
  .activityDropdownIcon,
  .galleryDropdownIcon {
    right: -9rem;
    font-size: 1.75rem;
  }

  .github,
  .twitterX,
  .instagram,
  .facebook,
  .tiktok {
    font-size: 2.8rem;
  }

  .searchIcon {
    font-size: 2.7rem;
  }

  .menuIcon {
    font-size: 3rem;
  }

  .openMenuContainer {
    bottom: 5.8rem;
  }

  .openMenu {
    width: 18rem;
  }

  .nestedMainContainer h5 {
    font-size: 1.5rem;
  }

  .nestedItems {
    width: 18rem;
    line-height: 0.8rem;
  }

  .nestedItems h5 {
    font-size: 1.3rem;
  }

  .nestedMainTitle {
    width: 18rem;
    margin: -0.5rem 0;
  }
}
