*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scrollUp {
  position: fixed;
  bottom: 35px;
  right: 30px;
  background-color: var(--accent-color);
  border: 1px solid var(--white-text-color);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 21;
  transition: background-color 0.3s;
}

.scrollUp:hover {
  background-color: var(--nav-color);
}

.scrollIcon {
  color: var(--white-text-color);
  font-size: 2.2rem;
}

.scrollIcon:hover {
  color: var(--white-text-color);
}

.invisible {
  display: none;
}
