*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.galleryContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  background-color: var(--gallery-color);
}

.galleryImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 4rem;
}

.galleryImageInner {
  position: relative;
  top: 20px;
  left: 45%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 6rem;
}

.galleryImage {
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 20rem;
}

.galleryCircle {
  position: absolute;
  top: -60px;
  left: -16px;
  height: 8rem;
  width: 8rem;
  background-size: cover;
  z-index: 1;
}

.galleryTitle {
  position: absolute;
  top: -42px;
  left: 40px;
  line-height: 2.5rem;
  z-index: 2;
  color: var(--white-text-color);
  max-width: 30rem;
  font-size: 2.25rem;
}

/* Carousel of images */
.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;
  width: 20rem;
}

/* --- Hovering within container gives simultaneous hover on 3 elements --- */
.carouselContainer.hover .hoverContainer h2,
.carouselContainer.hover .hoverContainer .carouselLink,
.carouselContainer.hover .arrowIcon {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.carouselInner {
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselInner img {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
}

.slide {
  min-width: 20rem;
}

.carouselNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.8rem;
  z-index: 2;
}

.navPrev,
.navNext {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 160px;
  background-color: transparent;
  border: none;
  color: var(--white-text-color);
  font-size: 3.8rem;
  height: 100%;
  cursor: pointer;
  padding: 0;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}

.navPrev svg,
.navNext svg {
  transition: color 0.3s;
}

.navNext {
  right: -10px;
}

.navPrev {
  right: 30px;
}

.navPrev:hover,
.navNext:hover {
  color: var(--hover-color);
}

.carouselText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 2rem;
  height: 12.5rem;
}

.hoverContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: color 0.3s;
}

.carouselText h2 {
  text-transform: uppercase;
  color: var(--white-text-color);
  cursor: pointer;
  transition: color 0.3s;
  font-size: 2rem;
}

.carouselText p {
  color: var(--white-text-color);
  font-size: 1.1rem;
}

.carouselLink {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.arrowContainer {
  padding-bottom: 4rem;
}

.arrowContainer svg {
  color: var(--white-text-color);
}

.arrowIcon {
  font-size: 3.8rem;
  border: 2px solid var(--white-text-color);
  border-radius: 50%;
  padding: 0.6rem;
  transform: translateY(25px);
  transition: all 0.3s;
}

.dotPagination {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding-top: 1rem;
}

.dotPagination span {
  transition: background-color 0.3s;
}

.dot {
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: var(--white-text-color);
  margin: 2.5rem 0.65rem;
  cursor: pointer;
  transition: color 0.3s;
}

.dot.active,
.dot:hover {
  background-color: var(--hover-color);
}

/* ---- Darken if on the current path in addon only ---- */
.currentPageOverlay {
  position: relative;
}

.currentPageImage {
  filter: brightness(0.3);
}

.currentPageMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-text-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .galleryImage {
    width: 30rem;
  }

  .galleryCircle {
    top: -70px;
    left: -50px;
    height: 40%;
    width: 40%;
  }

  .carouselContainer {
    width: 30rem;
  }

  .carouselInner {
    width: 30rem;
    height: 30rem;
  }

  .carouselInner img {
    width: 30rem;
    height: 30rem;
  }

  .slide {
    min-width: 30rem;
  }

  .carouselText h2 {
    font-size: 2.25rem;
  }

  .carouselText p {
    font-size: 1.2rem;
  }

  .navPrev,
  .navNext {
    top: 240px;
    font-size: 4.8rem;
  }

  .navPrev {
    right: 40px;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1299px) {
  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }

  .galleryTitle {
    top: -56px;
    line-height: 3.25rem;
    font-size: 3rem;
  }

  .galleryCircle {
    top: -70px;
    left: -50px;
    height: 40%;
    width: 40%;
  }

  .galleryImage {
    width: 25rem;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 2rem;
    width: 25rem;
  }

  .carouselInner {
    width: 25rem;
    height: 25rem;
  }

  .carouselInner img {
    width: 25rem;
    height: 25rem;
  }

  .slide {
    min-width: 25rem;
  }

  .carouselText h2 {
    font-size: 2.25rem;
  }

  .carouselText p {
    font-size: 1.3rem;
  }

  .navPrev,
  .navNext {
    font-size: 4rem;
    top: 200px;
  }

  .navPrev {
    right: 30px;
  }

  .navNext {
    right: -10px;
  }
}

/* Medium Desktop */
@media only screen and (min-width: 1300px) and (max-width: 1699px) {
  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }

  .galleryTitle {
    top: -56px;
    line-height: 3.25rem;
    font-size: 3.5rem;
  }

  .galleryCircle {
    top: -80px;
    left: -55px;
    height: 40%;
    width: 40%;
  }

  .galleryImage {
    width: 35rem;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 2rem;
    width: 35rem;
  }

  .carouselInner {
    width: 35rem;
    height: 35rem;
  }

  .carouselInner img {
    width: 35rem;
    height: 35rem;
  }

  .slide {
    min-width: 35rem;
  }

  .carouselText h2 {
    font-size: 2.25rem;
  }

  .carouselText p {
    font-size: 1.3rem;
  }

  .navPrev,
  .navNext {
    font-size: 5.5rem;
    top: 280px;
  }

  .navPrev {
    right: 45px;
  }

  .dotPagination {
    margin-left: 12rem;
    margin-top: -21.93rem;
    z-index: 10;
    width: 40%;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
    padding-bottom: 22rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1700px) {
  .galleryContainer {
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }

  .galleryTitle {
    top: -56px;
    line-height: 3.25rem;
    font-size: 3.5rem;
  }

  .galleryCircle {
    top: -100px;
    left: -70px;
    height: 35%;
    width: 35%;
  }

  .galleryImage {
    width: 45rem;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 2rem;
    width: 45rem;
  }

  .carouselInner {
    width: 45rem;
    height: 45rem;
  }

  .carouselInner img {
    width: 45rem;
    height: 45rem;
  }

  .slide {
    min-width: 45rem;
  }

  .carouselText h2 {
    font-size: 2.25rem;
  }

  .carouselText p {
    font-size: 1.3rem;
  }

  .navPrev,
  .navNext {
    font-size: 5.5rem;
    top: 360px;
  }

  .navPrev {
    right: 45px;
  }

  .dotPagination {
    margin-left: 15.2rem;
    margin-top: -22rem;
    z-index: 10;
    width: 40%;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
    padding-bottom: 22rem;
  }
}
