*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

span {
  margin: 0 4px;
}

.separatorFirst {
  background-color: var(--accent-color);
  height: 9rem;
}

.separatorContent,
.separatorSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.separatorContent {
  height: 18rem;
  padding: 2rem 0;
  background-color: var(--primary-color);
}

.separatorText,
.separatorSecondText {
  max-width: 90%;
  padding: 1rem;
  font-size: 1.1rem;
  word-break: break-word;
  overflow-wrap: break-word;
}

.link,
.hashtag {
  font-size: 1.1rem;
  color: var(--accent-color);
  transition: color 0.3s;
}

.link:hover,
.hashtag:hover {
  color: var(--nav-color);
}

.hashtag {
  font-size: 1.3rem;
}

.separatorSecond {
  background-color: var(--accent-color);
  height: 20rem;
  padding: 2rem 0;
}

.separatorSecondTitle {
  font-size: 2.25rem;
  color: var(--white-text-color);
}

.separatorSecondText {
  color: var(--white-text-color);
  font-size: 1.1rem;
}

/* Uncommon phone size */
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .separatorFirst {
    height: 10rem;
  }

  .separatorContent {
    height: 22rem;
  }

  .separatorText,
  .separatorSecondText {
    font-size: 1.2rem;
  }

  .separatorSecondTitle {
    font-size: 2.5rem;
  }

  .separatorSecond {
    height: 22rem;
  }
}

/* Small Tablet */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .separatorFirst {
    height: 12rem;
  }

  .separatorContent {
    height: 24rem;
  }

  .separatorText,
  .separatorSecondText {
    font-size: 1.2rem;
  }

  .separatorSecond {
    height: 22rem;
  }

  .separatorSecondTitle {
    font-size: 2.75rem;
  }
}

/* Desktop */
@media only screen and (min-width: 770px) and (max-width: 1199px) {
  .separatorFirst {
    height: 10rem;
  }

  .separatorContent {
    height: 20rem;
  }

  .separatorText,
  .separatorSecondText {
    width: 95%;
    font-size: 1.3rem;
  }

  .separatorSecond {
    height: 22rem;
  }

  .separatorSecondTitle {
    font-size: 3rem;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
  .separatorFirst {
    height: 10rem;
  }

  .separatorContent {
    height: 22rem;
  }

  .separatorText,
  .separatorSecondText {
    max-width: 50%;
    font-size: 1.3rem;
  }

  .separatorSecond {
    height: 26rem;
  }

  .separatorSecondTitle {
    font-size: 3.5rem;
  }
}
