:root {
  /* Fonts */
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --primary-color: #fff;
  --background-color: #f3f4fa;
  --accent-color: #f2c76e;
  --secondary-color: #bd9dea;
  --third-color: #6eb0f2;
  --hover-color: #f2986e;
  --black-text-color: #0b0b0b;
  --white-text-color: #f7f7f7;

  /* Defaults */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a,
li {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--white-text-color);
}

li:hover,
a:hover,
svg:hover {
  color: var(--hover-color);
}

h1 {
  color: var(--white-text-color);
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: var(--black-text-color);
}

h3 {
  color: var(--white-text-color);
}

p {
  color: var(--black-text-color);
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover-color);
}
